extends ../../basic_navbar_layout
include  ../../mixins/table_info_mixin
include  ../../mixins/data/test_answer_mixins

block append content
    .container.h-100
        +tableInfo("Tests answers",
            "1) Text (string)",
            "2) Is true (boolean, true or false)",
            "3) Points (int)",
            "4) Test question ID (string, for null type 'null')")

        div.row.align-items-center.justify-content-center.h-100
            each element in elements
                +createCard(element.text, element.isTrue, element.points, element.testQuestionId, element._id)

        +createModals()

    script(type='text/javascript' src='/js/data/test_answer/insert.js')
    script(type='text/javascript' src='/js/data/test_answer/update.js')
    script(type='text/javascript' src='/js/data/delete.js')