doctype html
html
    head
        title some title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/toggle-pass/css/show-password-toggle.css')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/js/bootstrap.bundle.min.js')
    body
        block content