doctype html
html
    head
        title some title
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/js/bootstrap.bundle.min.js')
    body
        block content