doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='icon', href='https://cdn-icons-png.flaticon.com/512/2446/2446840.png')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/js/bootstrap.bundle.min.js')
    body
        block content