extends basic_navbar_layout

block append content
    .container.h-100
        div.row.justify-content-center
            ol.list-group.list-group-numbered.w-50.m-4
                li.list-group-item
                    b Beware of foreign constraint: if foreign key contains null, it will not appear in mobile app
                li.list-group-item
                    b Follow we rules in modal dialogs. If you will not, you will suffer
                li.list-group-item
                    b Visit this page sometimes to understand what are you doing here
                li.list-group-item
                    b Be Careful when you delete big data
                li.list-group-item
                    b Check HTML tags that you put into text paragraphs
                li.list-group-item
                    b Always read table structure, even if you read it 100 times

