extends basic_layout

block content
    h1 Some text
    #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
        .carousel-indicators
            button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
            button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
            button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='../images/carousel1.jpg' alt='IMG1')
                .carousel-caption.d-none.d-md-block
                    h5 Title
                    p Description
            .carousel-item
                img.d-block.w-100(src='../images/carousel2.jpg' alt='IMG2')
                .carousel-caption.d-none.d-md-block
                    h5 Title
                    p Description
            .carousel-item
                img.d-block.w-100(src='../images/carousel3.jpg' alt='IMG3')
                .carousel-caption.d-none.d-md-block
                    h5 Title
                    p Description
        button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden prev
        button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden next