extends ../basic_navbar_layout
include  ../mixins/table_info_mixin
include  ../mixins/data/achievement_mixins

block append content
    .container.h-100
        +tableInfo("Achievements",
            "1) Name (string)",
            "2) Description (string)",
            "3) Points (int)",
            "4) Image (link)")

        div.row.align-items-center.justify-content-center.h-100
            each element in elements
                +createCard(element.name, element.description, element.points, element.img, element._id)

        +createModals()

    script(type='text/javascript' src='/js/data/achievement/insert.js')
    script(type='text/javascript' src='/js/data/achievement/update.js')
    script(type='text/javascript' src='/js/data/delete.js')