extends ../basic_navbar_layout
include  ../mixins/table_info_mixin
include  ../mixins/data/achievement_mixins

block append content
    div.container.h-100
        div.row.justify-content-center
            +tableInfo("Achievements",
                "1) Name (string)",
                "2) Description (string)",
                "3) Points (int)",
                "4) Image (link)")
        div.row.justify-content-center
            button.row.btn.btn-success(type='button' style="height:50px;width:350px;font-size:24px") Insert

        div.row.align-items-center.justify-content-center.h-100
            each element in elements
                +achievementCard(element.name, element.description, element.points, element.img)

