extends ../basic_navbar_layout
include  ../mixins/table_info_mixin
include  ../mixins/data/country_mixins

block append content
    .container.h-100
        +tableInfo("Country",
            "1) Name (string)",
            "2) Image (link)")

        div.row.align-items-center.justify-content-center.h-100
            each element in elements
                +createCard(element.name, element.img, element._id)

        +createModals()

    script(type='text/javascript' src='/js/data/country/insert.js')
    script(type='text/javascript' src='/js/data/country/update.js')
    script(type='text/javascript' src='/js/data/delete.js')